/* Only English Italic */
@font-face {
	font-family: Italic_Chinese;
	font-style: italic;
	src: local("楷体");
}

/* For All */
body {
	font-size: 24px;
	font-family: "Calibri", "等线";
	left: 0;
	right: 0;
	margin: auto;
	letter-spacing: 1px;
	tab-size: 4;
}
@media (prefers-color-scheme: dark) {
	body {
	  background: #373737;
	  color: white;
	}
}
h1 {
	font-size: 2em;
    font-weight: normal;
	font-family: "Calibri", "黑体";
}
h2 {
	font-family: "Times New Roman", "宋体";
}
h3 {
    font-weight: normal;
	font-family: "Arial", "黑体";
}
pre{
	font-size: 0.85em;
	left: 0;
	right: 0;
	margin: auto;
	width: 95%;
	font-family: "Consolas", monospace;
}

/* Links */
a:link {
	color:black;
	text-decoration:none;
} a:visited {
	color:black;
	text-decoration:none;
} a:hover {
	color:black;
	text-decoration:none;
} a:active {
	color:black;
	text-decoration:none;
}
@media (prefers-color-scheme: dark) {
	a:link {
		color: #ddffff;
		text-decoration:none;
	} a:visited {
		color: #ddffff;
		text-decoration:none;
	} a:hover {
		color: #aaffff;
		text-decoration:none;
	} a:active {
		color: #ddffff;
		text-decoration:none;
	}
}


/* Body */
.Body {
	left: 0;
	right: 0;
	margin: auto;
    width: 80%;
}

/* Header */
.Header {
	font-family: "Arial", "黑体";
	color: black;
	background-color: #f6f8fa;
	font-size: 1.4em;
	height: 2em;
	align-items:center;
	display:flex;
	overflow: hidden;
	left:0;
	top:0;
    padding-left: 5%;
    padding-right: 5%;
} @media (prefers-color-scheme: dark) {
	.Header {
		color: white;
		background-color:black
	}
}
.HeadInHead {
	font-family: "Times New Roman", "宋体";
}

/* Footer */
.Footer {
	color: black;
	width: 100%;
	background-color: #f6f8fa;
	font-size: 0.8em;
	height: 6em;
	margin: auto;
	text-align: right;
} @media (prefers-color-scheme: dark) {
	.Footer {
		color: white;
		background-color:black
	}
}



/* Classes */
.Cite {
	font-family: "Calibri", "Italic_Chinese";
	font-style: italic;
	color: grey;
}
b {
	font-family: "Times New Roman", "黑体";
	font-weight: bold;
}
i {
	font-family: "Calibri", "Italic_Chinese";
	font-style: italic;
}
l {
	background-color: #ddffff;
} @media (prefers-color-scheme: dark) {
	l {
		background-color: #373766
	}
}
